.results_container{
    background: #fcfcfc;
    border-top: 1px solid #eee;
   
}

.input_container{
    display: flex;
    align-items: baseline;
}

.inputSearch{
    /* padding: 16px;
    border-radius: 4px;
    border: 1px solid #ccc; */
    outline: none;
    width: 400px;

    background-color: transparent;
    border: medium none;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #dadbdb;
    border-radius: 0;
    padding: 3px 0;
    font-size: 100%;
    

}

.headerContainer{
   position: relative;
   padding-bottom: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.headerContainer img{
    width: 10%;
}


.searchBtn{
    border: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0;
    
}

.results_container .booksList{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.results_container .booksList .listItem{
    display: flex;
    padding: 24px;
    text-decoration: none;
    border: 2px solid #f0f0f0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 10%);
    overflow-wrap: break-word;
    overflow: hidden;
    width: 520px;
}

.paginationBttns{
    list-style: none;
    display: flex;
    gap: 20px;
}

